*{

    margin: 0;
    padding: 0;
    font-family: Century Gothic ;

}

body{
    background-image:linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0,0.5)), url(Index.jpg);
    background-size: cover;
    background-position: center;


}
.title{
    position:absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h3   {
    color:rgb(255, 255, 255);
    font-size: 70px;
}

.button1{
    position:absolute;
    top: 70%;
    left: 42%;
    transform: translate(-50%,-50%);

}
.button2{
    position:absolute;
    top: 70%;
    left: 58%;
    transform: translate(-50%,-50%);

}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition:0.6s ease ;
    
}
.btn:hover{
    background-color: #fff;
    color:#000;
}

.user1
{
	width:150px;
	height:150px; 
	overflow:hidden;
	position:absolute;
	top:46%;
	left:37%;
	border-radius:50%;
}
.user2
{
	width:150px;
	height:150px; 
	overflow:hidden;
	position:absolute;
	top:46%;
	left:53%;
	border-radius:50%;
}
 